@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat+Alternates:ital,wght@0,300;0,500;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(./assets/background.png);
  background-size: contain;
  background-position: 0;
}

/* Estilos para tablet + GENERALES */
header {
  max-width: 1000px;
  margin: 0 auto;
}

.photoLinkSection {
  margin: auto 2rem;
  font-family: "Just Another Hand";

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titleProjects {
  font-family: "Just Another Hand";
  font-size: 7rem;
  text-align: center;

  width: min-content;
  margin: 0 auto;
  padding: 1rem;
}

.linksListContainer {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
}

.linksList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.linksList ul {
  width: min-content;
}

.imageLink {
  width: 2rem;
}

#imageMain {
  margin: 1rem auto;
  display: block;
  position: relative;

  width: 50vw;
}

#photo {
  width: 90%;
  border-radius: 50%;
}

#small {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25%;
}

#small:hover,
#astro:hover {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#astro {
  position: absolute;
  top: 0;
  left: 10px;
  width: 25%;
}

.postIt {
  position: relative;
  width: 90%;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.postItP {
  background: rgb(213, 213, 213);
  background: linear-gradient(
    0deg,
    rgba(213, 213, 213, 1) 0%,
    rgba(255, 255, 255, 1) 46%,
    rgba(255, 255, 255, 1) 55%,
    rgba(217, 216, 216, 1) 100%
  );
  padding: 3rem 2rem;
  box-shadow: 7px 7px 36px -18px rgba(0, 0, 0, 0.75);
  margin: 2.2rem;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  white-space: wrap;
}

.keepAll {
  word-break: keep-all;
}

.fix {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 4rem;
  width: 7rem;
  transform: rotate(-10deg);
  background-image: url("./assets/fix.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fix2 {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  height: 4rem;
  width: 7rem;
  transform: rotate(20deg);
  background-image: url("./assets/fix.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* ///PROJECTS/// */
.listProjectsContainer {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.projectsContainer {
  padding-top: 2rem;
  position: relative;
}
.fixProject {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  height: 4rem;
  width: 7rem;
  background-image: url("./assets/fix.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 10px;

  background: rgb(213, 213, 213);
  background: linear-gradient(
    0deg,
    rgba(213, 213, 213, 1) 0%,
    rgba(255, 255, 255, 1) 46%,
    rgba(255, 255, 255, 1) 55%,
    rgba(217, 216, 216, 1) 100%
  );

  color: black;
  white-space: break-spaces;
  box-shadow: 7px 7px 36px -18px rgba(0, 0, 0, 0.75);
}
.infoContainer {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}
.infoContainer > h2 {
  font-family: "Just Another Hand";
  font-size: 4rem;
}

.linkContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Just Another Hand";
  font-size: 2rem;
}

.rotateP {
  transform: rotate(-15deg) scale(1.4);

  height: min-content;
  position: relative;
  top: 0.5rem;
  left: 1.5rem;
}
.ArrowSpan {
  background-image: url(./assets/arrow.png);
  position: relative;
  top: 2.5rem;
  left: 1rem;
  height: 5rem;
  width: 6rem;
  transform: rotate(-6deg);
  background-size: contain;
  background-repeat: no-repeat;
}
.link {
  width: min-content;
}
.imgLink {
  width: 10rem;
}

.chinch {
  width: 3rem;
  position: absolute;
  right: 3.5rem;
  top: 5px;
}

.imgLink:hover {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.FooterContainer {
  margin-top: 2rem;
  width: 100%;
  background-color: #252525;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}
.FooterContainer > p > span {
  font-family: "Just Another Hand";
  font-size: 2rem;
}

/* ////////////////////////////// */
@media (min-width: 868px) {
  header {
    max-width: 1100px;
    margin-top: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto;
  }

  .postIt {
    width: 100%;
    margin: unset unset;
    align-self: center;
  }

  .contentContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  #imageMain {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    margin: 0 auto;
    width: 22rem;
  }
  .postIt {
    width: 100%;
  }
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
